.main {
  background: #F9F9F9; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .3s;
  color: #FFF;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid white;
  background: #A5F6FA;
  display: inline-block;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  display: inline-block; }
  button:hover {
    transform: scale(1.2);
    background: #3FF9F9; }
  button:after {
    position: absolute;
    content: '';
    width: 0%;
    right: 0;
    left: auto;
    bottom: 0;
    height: 3px; }

.timetable {
  width: 90%; }
  .timetable table {
    color: #FFF;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid white; }
    .timetable table td {
      background: #A5F6FA; }
    .timetable table th {
      background: #3FF9F9; }
    .timetable table td, .timetable table th {
      display: inline-block;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      display: inline-block;
      width: 24%;
      border-style: solid;
      border-width: 1px;
      border-color: white; }

nav {
  color: #FFF;
  height: 20vh;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid white;
  background: #A5F6FA; }
  nav ul {
    display: inline-block;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0; }
  nav li {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 25%;
    height: 100%;
    font-size: 30px; }
