.timetable
  table
    width: 100%
    tr
      background: #00FF00
    th
      width: 20%
      display: inline-block
      background: #00FF00
    td
      width: 20%
      display: inline-block
      background: #CBFFD3
